h1{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    gap: 60px; /* Espace entre les deux formulaires */
}
.form input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form button{
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}