h1{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.connection  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.connection  button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.connection  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}